.graph-menu {
    transition-duration: 0.5s;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 3;
    width: 900px;
}

@media all and (max-width: 1216px) {
    .graph-menu {
        width: 600px;
    }
}

@media all and (max-width: 980px) {
    .graph-menu {
        width: 300px;
    }
}

.graph-menu-open {
    transform: translateX(0%);
}

.graph-filter-menu {
    padding: 12px;
    margin: 6px;
    font-size: 14px;
}

.graph-filter-menu-header {
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.graph-filter-menu > a:focus {
    outline: none;
}

.graph-filter-menu-contents {
    margin-bottom: 24px;
    margin-top: 12px;
}

.graph-filter-select-wrapper {
    margin-bottom: 18px;
}

.graph-filter-select-wrapper label {
    margin-bottom: 6px;
}

.graph-filter-select-wrapper .react-dropdown-select-item,
.graph-filter-select-wrapper .react-dropdown-select-option-label,
.graph-filter-select-wrapper .react-dropdown-select-no-data {
    color: black !important;
}

.graph-filter-select-wrapper .react-dropdown-select-dropdown {
    width: 100% !important;
    margin-bottom: 86px;
}

.graph-menu-contents {
    overflow-y: auto;
    height: 100%;
    border: 3px;
}

.graph-menu-contents::-webkit-scrollbar {
    width: 6px;
}

.graph-menu-contents::-webkit-scrollbar-track {
    background-color: transparent;
}

.graph-menu-contents::-webkit-scrollbar-thumb {
    border-radius: 90px;
    background-color: black;
    border: 8px solid transparent;
    height: 25px;
}

/* Navbar styles */
.graph-menu-navbar {
    height: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    top: 0;
    width: 100%;
    background-color: black;
    margin-right: 12px;
    padding-top: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.graph-menu-navbar-pfp {
    z-index: 7;
}

.graph-menu-navbar-pfp img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

.graph-menu-navbar-pfp svg {
    filter: drop-shadow(3px 3px 0 black);
}

/* Footer/bottom area */
.graph-menu-footer {
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 86px;
}

/* Button style overrides */
.graph-menu-open .graph-menu-toggle {
    transform: translateX(20px);
}

.graph-menu-open .graph-menu-toggle:hover,
.graph-menu-open .graph-menu-toggle:focus {
    transform: translateX(30px);
}

.graph-menu-navbar .graph-menu-btn {
    padding: 0px;
}

.graph-menu-navbar .graph-menu-btn:hover,
.graph-menu-navbar .graph-menu-btn:focus {
    transform: translateY(5px);
}
