.graph-menu-btn {
    background-color: black;
    box-shadow: 3px 4px 0 0 black, 4px 5px 0 0 black;
    border-color: black;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    transition-duration: 0.5s;
    z-index: 6;
    position: relative;
}

.graph-menu-btn-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.graph-menu-btn + .graph-menu-btn {
    margin-left: 12px;
}

.graph-menu-btn-sm {
    font-size: 14px;
    height: fit-content;
    width: fit-content;
    border-color: white;
    border-width: 1px;
}

.graph-menu-btn-sm svg {
    padding: 6px;
}

.graph-menu-toggle {
    position: absolute;
    left: -72px;
    top: calc(50% - 30px);
    z-index: 5;
}

.graph-button-slide-up:hover,
.graph-button-slide-up:focus,
.graph-help-btn-modal .graph-menu-btn:hover,
.graph-button-slide-up .graph-menu-btn:focus {
    transform: translateY(-10px);
}

.graph-menu-toggle:hover,
.graph-menu-toggle:focus {
    transform: translateX(-10px);
}

.graph-help-btn-modal-wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.graph-help-btn-modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-help-btn-modal .icon-text:first-child {
    font-size: 24px;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
}
.graph-help-btn-modal .icon-text-box {
    padding: 24px;
}

.graph-help-btn-modal .graph-menu-btn {
    float: right;
}
