.homepage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-content {
    padding: 16px;
    border: 6px solid black;
    box-shadow: 0.25em 0.25em black;
    background-color: white;
    margin: 8px;
}

.info-name {
    font-size: 10vw;
    color: #ff8800;
    font-weight: bold;
}

.info-credits-header {
    font-size: 12px;
    font-weight: bold;
    color: #ff8800;
}

.info-credits-link {
    font-size: 13px;
    text-decoration: none !important;
}
